            .cart-block {
                display: flex;
                justify-content: space-between;
            }
            
            .cart-items {
                display: flex;
                flex-direction: column;
                width: 65%;
                border-top: 1px solid #dedede;
            }
            
            .cart-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                border-bottom: 1px solid #dedede;
            }
            
            .cart-item__image {
                width: 15%;
            }
            
            .cart-item__description {
                width: 45%;
            }
            
            .cart-item__description {
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
            
            .cart-item__counter {
                width: 10%;
                text-align: center;
            }
            
            .cart-item__price {
                font-size: 30px;
                font-weight: bold;
                width: 15%;
                text-align: right;
            }
            
            .ruble {
                font-size: 20px;
                font-weight: normal;
            }
            
            .cart-summary-block {
                display: flex;
                flex-direction: column;
                border: 1px solid #dedede;
                border-radius: 10px;
                text-align: center;
                padding: 20px;
                width: 25%;
                align-self: flex-start;
            }
            
            .cart-item__category {
                color: #9b9b9b;
                font-family: sans-serif;
                font-size: 16px;
                padding: 0 0 5px 0;
            }
            
            .cart-item__title {
                color: #333;
                font-size: 18px;
                padding: 0 0 10px 0;
            }
            
            .cart-item__articul,
            .cart-item__available {
                color: #9b9b9b;
                font-size: 12px;
                padding: 0 0 3px 0;
            }
            
            .cart-item__delete {
                position: absolute;
                right: 0;
                top: 0;
            }
            
            .cart-summary-block__price {
                font-size: 46px;
                font-weight: bold;
                padding: 20px 0;
            }
            
            .cart-summary-block__btn {
                background-image: url('../images/btn_long.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                padding: 18px 0;
                color: #ffffff;
                text-decoration: none;
                font-size: 22px;
            }
            
            .cart-summary-block__credit {
                padding: 20px 0;
                color: #e95a0c;
                font-size: 16px;
            }