            .cart-block {
                display: flex;
                justify-content: space-between;
            }
            
            .cart-items {
                display: flex;
                flex-direction: column;
                width: 65%;
                border-top: 1px solid #dedede;
            }
            
            .cart-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                border-bottom: 1px solid #dedede;
            }
            
            .cart-item__image {
                width: 15%;
            }
            
            .cart-item__description {
                width: 45%;
            }
            
            .cart-item__description {
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
            
            .cart-item__counter {
                width: 10%;
                text-align: center;
            }
            
            .cart-item__price {
                font-size: 30px;
                font-weight: bold;
                width: 15%;
                text-align: right;
            }
            
            .ruble {
                font-size: 20px;
                font-weight: normal;
            }
            
            .cart-summary-block {
                display: flex;
                flex-direction: column;
                border: 1px solid #dedede;
                border-radius: 10px;
                text-align: center;
                padding: 20px;
                width: 25%;
                align-self: flex-start;
            }
            
            .cart-item__category {
                color: #9b9b9b;
                font-family: sans-serif;
                font-size: 16px;
                padding: 0 0 5px 0;
            }
            
            .cart-item__title {
                color: #333;
                font-size: 18px;
                padding: 0 0 10px 0;
                text-decoration: none;
            }
            
            .cart-item__articul,
            .cart-item__available {
                color: #9b9b9b;
                font-size: 12px;
                padding: 0 0 3px 0;
            }
            
            .cart-item__delete {
                position: absolute;
                display: block;
                background-image: url('../images/close-no-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
                right: 0;
                top: 10px;
                width: 20px;
                height: 20px;
            }
            
            .cart-item__delete:hover {
                background-image: url('../images/close-active.svg');
            }
            
            .cart-summary-block__price {
                font-size: 46px;
                font-weight: bold;
                padding: 20px 0;
            }
            
            .cart-summary-block__btn {
                background-image: url('../images/btn_long.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                padding: 18px 0;
                color: #ffffff;
                text-decoration: none;
                font-size: 22px;
            }
            
            .cart-summary-block__btn:hover {
                color: #ffffff;
                background-image: url('../images/btn_long_orange.svg');
            }
            
            .cart-summary-block__credit {
                padding: 20px 0;
                color: #e95a0c;
                font-size: 16px;
            }
            
            .cart-item__counter {
                display: flex;
            }
            
            .cart-item__count {
                font-size: 19px;
            }
            
            .cart-item__plus,
            .cart-item__minus {
                display: block;
                border: 1px solid #dedede;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
            }
            
            .cart-item__plus:hover,
            .cart-item__minus:hover {
                border: 1px solid #e95a0c;
            }
            
            .cart-item__plus {
                margin-left: 10px;
            }
            
            .cart-item__minus {
                margin-right: 10px;
            }
            
            .cart-item__warrantys {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            
            .cart-item__warranty {
                display: block;
                font-size: 12px;
                color: #e95a0c;
                padding: 5px 0;
            }