/* Каталог товаров */

.category-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter-item-text {
    background-color: #ffffff;
    border: solid 1px #f6a623;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    width: 97px;
    padding: 10px 5px;
}

.filter-item-text::placeholder {
    color: #9b9b9b;
}

.price-filter-item-more {
    display: none;
}

.price-filter-item summary::-webkit-details-marker {
    display: none;
}

.price-filter-item>summary {
    list-style: none;
}

.price-filter-item summary::after {
    position: absolute;
    content: "";
    background-image: url("../images/arrow-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 10px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.price-filter-item summary:hover::after {
    background-image: url("../images/arrow-red-down.svg");
}

.price-filter-item summary {
    font-size: 18px;
    position: relative;
    outline-color: transparent;
    cursor: pointer;
    padding: 20px 30px 20px 0;
}

.price-filter-item[open] summary::after {
    transform: rotate(180deg);
}

.price-filter-item summary:focus {
    color: #e95a0c;
}

.price-filter-item {
    border-bottom: 1px solid #d8d8d8;
}

.price-filter-item[open] {
    padding-bottom: 20px;
}

.price-filter-reset {
    background-color: transparent;
    border: solid 3px #9b9b9b;
    border-radius: 10px;
    color: #9b9b9b;
    cursor: pointer;
    margin-top: 23px;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    width: 232px;
}

.price-filter-reset:hover {
    background-color: #9b9b9b;
    border: solid 3px #9b9b9b;
    color: #ffffff;
    margin-top: 23px;
    padding-bottom: 13px;
    padding-top: 13px;
}

.price-filter-showmore {
    display: block;
    color: #ea5a0c;
    width: 129px;
    text-decoration: none;
    padding: 0 0 0 35px;
    position: relative;
    margin-top: 20px;
}

.price-filter-showmore::before {
    content: "";
    background-image: url("../images/plus-orange.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter-item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.filter-item-wrapper--justify {
    justify-content: space-around;
}

.filter-item-btn {
    background-color: #f3f3f3;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter-item-btn span {
    color: #9b9b9b;
}

.filter-item-btn:hover {
    background-color: #bfbfbf;
    color: #ffffff;
}

.filter-item-btn:hover span {
    color: #ffffff;
}

.filter-item-btn--active {
    background: #ea5a0c;
    color: #ffffff;
}

.filter-item-btn--active span {
    color: #ea5a0c;
}

.filter-item-btn--active:hover {
    background: #ea5a0c;
}

.filter-item-btn--active:hover span {
    color: #ea5a0c;
    background: #ea5a0c;
}

.price-item-cart {
    display: block;
    background: url("../images/basket_set.svg");
    width: 58px;
    height: 46px;
}

.price-item-cart:hover {
    background: url("../images/basket_btn_hover.svg");
}

.price-container {
    display: flex;
    justify-content: space-between;
}

.price-filter {
    min-width: 270px;
    margin-right: 20px;
    box-sizing: border-box;
}

.price-filter-container {
    border: 1px solid #d8d8d8;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}

.price-item-header {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.price-item-header a {
    text-decoration: none;
    color: #333;
}

.price-item-header a:hover {
    color: #e20714;
}

.price-item-description {
    font-size: 12px;
    color: #9b9b9b;
}

.price-item-articul {
    color: #9b9b9b;
    font-size: 14px;
}

.price-item-storage {
    color: #e95a0c;
    text-decoration: none;
    padding: 5px 0;
    font-size: 14px;
}

.price-item-cash {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    padding: 20px 0;
}

.price-item-price {
    max-width: 100px;
    font-size: 12px;
    color: #9b9b9b;
}

.price-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    box-sizing: border-box;
    padding: 20px;
    margin: 1%;
    flex-grow: 1;
    flex-basis: 31%;
    border-radius: 10px;
    min-width: 250px;
}

.price-item-cart-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-items {
    display: flex;
    flex-wrap: wrap;
}

.price-groups {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.price-group-item {
    text-decoration: none;
    color: #444444;
    transition: all 0.25s ease;
    position: relative;
    display: block;
    padding: 10px;
    background: #e6e6e6;
    margin: 10px;
    border-radius: 5px;
}

.price-sorting-wrapper {
    display: flex;
    padding: 0 10px 0 10px;
}

.price-sorting-filter {
    background-image: url(../images/filters-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 10px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #e95a0c;
    margin-left: auto;
    border-radius: 3px;
}

.price-sorting-selector {
    display: none;
}

.price-group-item:hover {
    color: #ffffff;
    background: #f56618;
}

.price-sorting-block {
    display: flex;
    list-style: none;
    font-size: 14px;
    padding: 0;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-top: 0;
}

.price-sorting-selector {
    border: 1px solid #dedede;
}

.sorting-block-item {
    padding: 5px 0;
}

.sorting-block-url {
    color: #ea5a0c;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
}

.sorting-block-url:hover {
    color: #e20714;
}

.sorting-block-url::after {
    position: absolute;
    content: "";
    background-image: url("../images/sorting.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 14px;
    top: 50%;
    transform: translateY(-40%);
    right: 0;
}

.price-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.price-extra-info {
    font-size: 12px;
    color: #CCC;
    margin: 40px 0;
}

.price-filter-toggle {
    display: none;
}