<!DOCTYPE html>
<html lang="ru">

include modules/head

<body>
include modules/header
    <main class="content">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Смартфоны</a></li>
                <li><a href="#">Моя корзина</a></li>
            </ul>
            <div class="flex-wrapper flex-wrapper--column">
                <h1 class="page-header align-center">Ваш заказ оформлен</h1>
                <h2 class="align-center">Номер вашего заказа: 3933</h2>
                <ul class="payment-delivery">
                    <li class="payment-delivery__item">Доставка: Иркутск Сезон, ТРЦ "Сезон", ул. Свердлова, 36</li>
                    <li class="payment-delivery__item">Оплата: Наличными при получении</li>
                </ul>
                <table class="products-table">
                    <tr>
                        <td class="products-td">Телефон Apple iPhone 11 Pro 256GB Space Gray... (1 шт.)</td>
                        <td class="products-td products-td--right">103 595 ₽</td>
                    </tr>
                    <tr>
                        <td class="products-td">Телефон Apple iPhone 11 Pro 256GB Space Gray... (1 шт.)</td>
                        <td class="products-td products-td--right">103 595 ₽</td>
                    </tr>
                    <tr>
                        <td class="products-td">Телефон Apple iPhone 11 Pro 256GB Space Gray... (1 шт.)</td>
                        <td class="products-td products-td--right">103 595 ₽</td>
                    </tr>
                </table>
                <span class="total-sum">Cумма заказа: 103 595 ₽</span>
                <a href="#" class="url-grey">Подробности заказа</a>
                <p class="oppinion-text">Мы бы хотели получить от Вас честный отзыв, касающийся опыта Вашего взаимодействия с нашим магазином - начиная с момента, когда Вы приняли решение о покупке и заканчивая получением товара и особенностями его эксплуатации. Для идентификации обязательно укажите в отзыве номер вашего заказа.</p>
                <a href="#" class="url-grey url-more--mbottom">Оставить отзыв</a>
            </div>
            <!-- Наши преимущества -->
            <ul class="advantages">
                <li class="advantages__item advantages__item--warranty">Гибкая гарантия</li>
                <li class="advantages__item advantages__item--delivery">Удобная доставка</li>
                <li class="advantages__item advantages__item--2weeks">2 недели на пробу</li>
                <li class="advantages__item advantages__item--original advantages__item--last">Только оригинал</li>
            </ul>
            <!-- /Наши преимущества -->
        </div>
        <!-- Подписка на рассылку -->
        <div class="orange-background">
            <div class="container">
                <div class="feedback-block">
                    <div class="feedback-heading">
                        <h2>Будь в курсе последних акций и предложений</h2>
                        <p>Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми</p>
                    </div>
                    <div class="feedback-form">
                        <form action="#" method="post">
                            <input type="text" class="feedback-form-email" placeholder="Введите ваш email"> <button class="feedback-form-button">Подписаться</button>
                            <div class="feedback-label-block">
                                <input type="checkbox" id="subscribe">
                                <label for="subscribe">Я согласен с уловиями подписки</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Подписка на рассылку -->

    </main>
include modules/footer
</body>

</html>