<!DOCTYPE html>
<html lang="ru">

include modules/head

<body>
include modules/header
    <main class="content">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Смартфоны</a></li>
                <li><a href="#">Моя корзина</a></li>
            </ul>
            <h1 class="page-header">Моя корзина</h1>
            <div class="cart-block">
                <div class="cart-items">
                    <div class="cart-item">
                        <figure class="cart-item__image">
                            <a href="#"><img src="./images/content/1562479459_1.png" alt=""></a>
                        </figure>
                        <div class="cart-item__description">
                            <span class="cart-item__category">Xiaomi Redmi 7 и Redmi 7A</span>
                            <a href="#" class="cart-item__title">Смартфон Xiaomi Redmi 7A</a>
                            <span class="cart-item__articul">Артикул: 296414</span>
                            <span class="cart-item__available">Наличие: в наличии</span>
                            <ul class="cart-item__warrantys">
                                <li><a href="#" class="cart-item__warranty">Добавить дополнительную гарантию на 1 год - <b>2 375 р.</b></a></li>
                                <li><a href="#" class="cart-item__warranty">Добавить "Год без забот". Программа замены или ремонта устройства - <b>2 375 р.</b></a></li>
                            </ul>
                        </div>
                        <div class="cart-item__counter"><a href="#" class="cart-item__increment cart-item__increment--minus">-</a> <span class="cart-item__count">2</span> <a href="#" class="cart-item__increment cart-item__increment--plus">+</a></div>
                        <div class="cart-item__price">5 195 <span class="ruble">₽</span></div>
                        <a href="#" class="cart-item__delete"></a>
                    </div>
                    <div class="cart-item">
                        <figure class="cart-item__image">
                            <a href="#"><img src="./images/content/1562479459_1.png" alt=""></a>
                        </figure>
                        <div class="cart-item__description">
                            <span class="cart-item__category">Xiaomi Redmi 7 и Redmi 7A</span>
                            <a href="#" class="cart-item__title">Смартфон Xiaomi Redmi 7A</a>
                            <span class="cart-item__articul">Артикул: 296414</span>
                            <span class="cart-item__available">Наличие: в наличии</span>
                        </div>
                        <div class="cart-item__counter"><a href="#" class="cart-item__increment cart-item__increment--minus">-</a> <span class="cart-item__count">2</span> <a href="#" class="cart-item__increment cart-item__increment--plus">+</a></div>
                        <div class="cart-item__price">5 195 <span class="ruble">₽</span></div>
                        <a href="#" class="cart-item__delete"></a>
                    </div>
                    <div class="cart-item">
                        <figure class="cart-item__image">
                            <a href="#"><img src="./images/content/1562479459_1.png" alt=""></a>
                        </figure>
                        <div class="cart-item__description">
                            <span class="cart-item__category">Xiaomi Redmi 7 и Redmi 7A</span>
                            <a href="#" class="cart-item__title">Смартфон Xiaomi Redmi 7A</a>
                            <span class="cart-item__articul">Артикул: 296414</span>
                            <span class="cart-item__available">Наличие: в наличии</span>
                        </div>
                        <div class="cart-item__counter"><a href="#" class="cart-item__increment cart-item__increment--minus">-</a> <span class="cart-item__count">2</span> <a href="#" class="cart-item__increment cart-item__increment--plus">+</a></div>
                        <div class="cart-item__price">5 195 <span class="ruble">₽</span></div>
                        <a href="#" class="cart-item__delete"></a>
                    </div>
                </div>
                <div class="cart-side-block">
                    <div class="cart-summary-block">
                        <span>К оплате</span>
                        <span class="cart-summary-block__price">5 195 <span class="ruble">₽</span></span>
                        <a href="#" class="cart-summary-block__btn">Оформить заказ</a>
                        <a href="#" class="cart-summary-block__credit">Оформить в кредит или рассрочку</a>
                    </div>
                </div>
            </div>
            <!-- Наши преимущества -->
            <ul class="advantages">
                <li class="advantages__item advantages__item--warranty">Гибкая гарантия</li>
                <li class="advantages__item advantages__item--delivery">Удобная доставка</li>
                <li class="advantages__item advantages__item--2weeks">2 недели на пробу</li>
                <li class="advantages__item advantages__item--original advantages__item--last">Только оригинал</li>
            </ul>
            <!-- /Наши преимущества -->
        </div>
        <!-- Подписка на рассылку -->
        <div class="orange-background">
            <div class="container">
                <div class="feedback-block">
                    <div class="feedback-heading">
                        <h2>Будь в курсе последних акций и предложений</h2>
                        <p>Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми</p>
                    </div>
                    <div class="feedback-form">
                        <form action="#" method="post">
                            <input type="text" class="feedback-form-email" placeholder="Введите ваш email"> <button class="feedback-form-button">Подписаться</button>
                            <div class="feedback-label-block">
                                <input type="checkbox" id="subscribe">
                                <label for="subscribe">Я согласен с уловиями подписки</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Подписка на рассылку -->
    </main>
include modules/footer
</body>

</html>.