<!DOCTYPE html>
<html lang="ru">
include modules/head

<body>
include modules/header
    <main class="content">
        <!-- Баннерный блок -->
        <div class="container">
            <div class="banner-block">
                <div class="banner-block__slider"></div>
                <div class="banner-block__aside">
                    <a href="#" class="aside-item"><img src="./images/slider/item-1.jpg" alt=""></a>
                    <a href="#" class="aside-item"><img src="./images/slider/item-2.jpg" alt=""></a>
                    <a href="#" class="aside-item"><img src="./images/slider/item-3.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <!-- /Баннерный блок -->
        <!-- Баннерный блок -->
        <div class="container">
            <div class="brand-block">
                <ul class="brand-list">
                    <li><a href="#">Asus</a></li>
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">Xiaomi</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Honor</a></li>
                    <li><a href="#">Huawei</a></li>
                </ul>
                <a href="#"><img src="./images/slider-horizontal/trade-in.jpg" alt="" class="brands-block-banner"></a>
            </div>
        </div>
        <!-- /Баннерный блок -->
        <!-- Новинки и распродажа -->
        <div class="container">
            <section class="sales-block">
                <h2 class="visually-hidden">Новинки и распродажа</h2>
                <ul class="tab-items">
                    <li class="tab-items__active"><a href="#" class="tab-items__url">Новинки</a></li>
                    <li><a href="#" class="tab-items__url">Распродажа</a></li>
                </ul>
                <div class="product-slider">
                    <a href="#" class="product-slider-arrow product-slider-arrow--left"></a>
                    <a href="#" class="product-slider-arrow product-slider-arrow--right"></a>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                        <a href="#" class="product-card-title">Apple Watch Series</a>
                        <div class="product-card-price">
                            <span>27 595 ₽</span>
                            <a href="#" class="product-card-cart"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /Новинки и распродажа -->
        <!-- Новости -->
        <div class="container">
            <section class="news-block">
                <h2 class="visually-hidden">Новости</h2>
                <div class="article-intro">
                    <div class="article-intro-img"></div>
                    <div class="article-intro-property">
                        <span class="article-intro-date">30.10.2019</span>
                        <span class="article-intro-view">10</span>
                    </div>
                    <a href="#" class="article-intro-title">Тотальная распродажа б/у смартфонов</a>
                </div>
                <div class="article-intro">
                    <div class="article-intro-img"></div>
                    <div class="article-intro-property">
                        <span class="article-intro-date">30.10.2019</span>
                        <span class="article-intro-view">10</span>
                    </div>
                    <a href="#" class="article-intro-title">Тотальная распродажа б/у смартфонов</a>
                </div>
                <div class="article-intro">
                    <div class="article-intro-img"></div>
                    <div class="article-intro-property">
                        <span class="article-intro-date">30.10.2019</span>
                        <span class="article-intro-view">10</span>
                    </div>
                    <a href="#" class="article-intro-title">Тотальная распродажа б/у смартфонов</a>
                </div>
                <div class="article-intro">
                    <div class="article-intro-img"></div>
                    <div class="article-intro-property">
                        <span class="article-intro-date">30.10.2019</span>
                        <span class="article-intro-view">10</span>
                    </div>
                    <a href="#" class="article-intro-title">Тотальная распродажа б/у смартфонов</a>
                </div>
            </section>
        </div>
        <!-- /Новости -->
        <!-- Социальные сети и список новостей -->
        <div class="container">
            <div class="social-block">
                <div class="social-list">
                    <img src="./images/content/social.jpg" alt="">
                </div>
                <div class="newslist-block">
                    <h2>Новости</h2>
                    <ul class="newslist">
                        <li><a href="#">4 преимущества трейд-ин в Техномаксе</a></li>
                        <li><a href="#">Майская распродажа в Техномаксе</a></li>
                        <li><a href="#">Майская распродажа</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                        <li><a href="#">Скидка 5%</a></li>
                        <li><a href="#">Черная пятница</a></li>
                    </ul>
                    <a href="#" class="newslist-url">Лента новостей</a>
                </div>
            </div>
        </div>
        <!-- /Социальные сети и список новостей -->
        <div class="orange-background">
            <div class="container">
                <div class="feedback-block">
                    <div class="feedback-heading">
                        <h2>Будь в курсе последних акций и предложений</h2>
                        <p>Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми</p>
                    </div>
                    <div class="feedback-form">
                        <form action="#" method="post">
                            <input type="text" class="feedback-form-email" placeholder="Введите ваш email"> <button class="feedback-form-button">Подписаться</button>
                            <div class="feedback-label-block">
                                <input type="checkbox" id="subscribe">
                                <label for="subscribe">Я согласен с уловиями подписки</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
include modules/footer
</body>
</html>