<!DOCTYPE html> 
<html lang="ru"> 

include modules/head

<body>
include modules/header
    <main class="content">
        <div class="overlay"></div>
        <div class="warehouses-block">
        <h3 class="warehouses-block__title">Наличие товара в магазинах</h3>
        <div class="warehouses-block__container">
            <table class="warehouses-block__table">
            <tr>
            <th class="warehouses-block__shopname">Название и адрес магазина</th>
            <th class="warehouses-block__shopavailability">Наличие</th>
            </tr>
            <tr>
            <td class="warehouses-block__cell">
            <ul class="warehouses-block__address">
            <li class="warehouses-block__item">Иркутск Сезон</li>
            <li class="warehouses-block__item">Адрес: г. Иркутск, ТРЦ "Сезон", ул. Свердлова, 36</li>
            <li class="warehouses-block__item">Время работы: пн — вс: 10:00 — 20:00</li>
            </ul>
            </td>
            <td class="warehouses-block__cell">5 шт.</td>
            </tr>
            <tr>
            <td class="warehouses-block__cell">
            <ul class="warehouses-block__address">
            <li class="warehouses-block__item">Иркутск Сезон</li>
            <li class="warehouses-block__item">Адрес: г. Иркутск, ТРЦ "Сезон", ул. Свердлова, 36</li>
            <li class="warehouses-block__item">Время работы: пн — вс: 10:00 — 20:00</li>
            </ul>
            </td>
            <td class="warehouses-block__cell">3 шт.</td>
            </tr>
            <tr>
            <td class="warehouses-block__cell">
            <ul class="warehouses-block__address">
            <li class="warehouses-block__item">Иркутск Сезон</li>
            <li class="warehouses-block__item">Адрес: г. Иркутск, ТРЦ "Сезон", ул. Свердлова, 36</li>
            <li class="warehouses-block__item">Время работы: пн — вс: 10:00 — 20:00</li>
            </ul>
            </td>
            <td class="warehouses-block__cell">15 шт.</td>
            </tr>
            <tr>
            <td class="warehouses-block__cell">
            <ul class="warehouses-block__address">
            <li class="warehouses-block__item">Иркутск Сезон</li>
            <li class="warehouses-block__item">Адрес: г. Иркутск, ТРЦ "Сезон", ул. Свердлова, 36</li>
            <li class="warehouses-block__item">Время работы: пн — вс: 10:00 — 20:00</li>
            </ul>
            </td>
            <td class="warehouses-block__cell">15 шт.</td>
            </tr> 
            <tr>
            <td class="warehouses-block__cell">
            <ul class="warehouses-block__address">
            <li class="warehouses-block__item">Иркутск Сезон</li>
            <li class="warehouses-block__item">Адрес: г. Иркутск, ТРЦ "Сезон", ул. Свердлова, 36</li>
            <li class="warehouses-block__item">Время работы: пн — вс: 10:00 — 20:00</li>
            </ul>
            </td>
            <td class="warehouses-block__cell">15 шт.</td>
            </tr>                       
            </table>
        </div>
        <div class="warehouses-product">
         <img src="./images/content/1569838094_2.jpg" alt="">   
         <div class="warehouses-product__title">Конструктор Xiaomi Mitu Fidget Building Blocks<span class="warehouses-product__articul">Артикул: 282309</span></div>
         <div class="warehouses-product__price">650 Р</div>
        </div>
         <button class="warehouses-product__close"></button>   
        </div>
        <div class="container">
            include modules/breadcrumbs
            <h1 class="category-header">Xiaomi Mi Mix</h1>
            <!-- Блок с изображением и ценой -->
            <div class="flex-wrapper">
                <div class="product-images-block">
                    <img src="./images/content/1569838094_1.jpg" width="350" class="product-images-block__image" alt="">

                    <div class="product-images-list">
                        <button class="product-images-list__btn" aria-label="Пролистать фотографии"></button>
                        <div class="product-images-list__items">

                            <a href="#" class="product-images-list__item"><img src="./images/content/1569838094_2.jpg" alt="" class="product-images-list__img"></a>

                            <a href="#" class="product-images-list__item">
                                <img src="./images/content/1569838094_3.jpg" alt="" class="product-images-list__img">
                            </a>


                            <a href="#" class="product-images-list__item">
                                <img src="./images/content/1569838094_3.jpg" alt="" class="product-images-list__img">
                            </a>
                        </div>
                        <button class="product-images-list__btn product-images-list__btn--right" aria-label="Пролистать фотографии"></button>
                    </div>
                </div>
                <div class="product-short-description-block">
                    <table class="product-short-propertys">
                        <tr>
                            <td class="product-short-propertys__property">Модель</td>
                            <td class="product-short-propertys__value">MiMix 3</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Год релиза</td>
                            <td class="product-short-propertys__value">2018</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Цвет задней панели</td>
                            <td class="product-short-propertys__value">черный оникс</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Материал корпуса</td>
                            <td class="product-short-propertys__value">металл</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Диагональ экрана</td>
                            <td class="product-short-propertys__value">6.39"</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Разрешение экрана</td>
                            <td class="product-short-propertys__value">2340 х 1080</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Технология изготовления экрана</td>
                            <td class="product-short-propertys__value">SuperAMOLED</td>
                        </tr>
                        <tr>
                            <td class="product-short-propertys__property">Поддержка сетей 4G (LTE)</td>
                            <td class="product-short-propertys__value">есть</td>
                        </tr>
                    </table>
                    <a href="#" class="product-short-description-block__showall">Все характеристики</a>
                </div>
                <div class="product-price-block">
                    <span class="product-price-block__articul">Артикул: 347548</span>
                    <span class="product-price-block__articul">Код: OXD - 347548</span>
                    <div class="product-price">25 695 <span class="product-price__rubles">₽<sup>*</sup></span></div>
                    <span class="product-price-block__memo">Цена при оплате картой или в кредит</span>

                    <div class="product-price product-price--grey">25 695 <span class="product-price-block__rubles">₽</span></div>
                    <a href="#" class="button-buy">Купить</a>
                    <a href="#" class="product-price-block__buy-fast">Купить в 2 клика</a>
                    <div class="product-price-block__wrapper">
                        <a href="#" class="product-price-block__warehouse">В наличии</a>
                    </div>
                    <span class="product-price-block__delivery">Доставка: 250 р.</span>
                </div>
            </div>
            <!-- /Блок с изображением и ценой -->
            <ul class="tab-items tab-items--left tab-items--mtop">
                <li><a href="#" class="tab-items__url">Характеристики</a></li>
                <li class="tab-items__active"><a href="#" class="tab-items__url">Отзывы</a></li>
            </ul>
            <h2>Отзывы о Xiaomi Redmi Note 8 Pro</h2>
            <form action="#" method="post" class="product-reviews__form">
            <input type="text" name="username" placeholder="Ваше имя" class="product-reviews__text">
            <div class="product-reviews__stars">
            <img src="./images/star_contur.svg" alt="Star" class="product-reviews__star">
            <img src="./images/star_contur.svg" alt="Star" class="product-reviews__star">
            <img src="./images/star_contur.svg" alt="Star" class="product-reviews__star">
            <img src="./images/star_contur.svg" alt="Star" class="product-reviews__star">
            <img src="./images/star_contur.svg" alt="Star" class="product-reviews__star">
            </div>
            <textarea name="plus" placeholder="Достоинства" class="product-reviews__text product-reviews__text--area"></textarea>
            <textarea name="minus" placeholder="Недостатки" class="product-reviews__text product-reviews__text--area"></textarea>
            <textarea name="comment" placeholder="Комментарий" class="product-reviews__text product-reviews__text--area"></textarea>
            <div class="product-reviews__wrapper">
                <button type="submit" class="product-reviews__button">Отправить</button>
            </div>
            </form>
            <ul class="product-reviews-items">
                <li class="product-reviews-item">
                    <ul class="product-reviews-review">
                        <li class="product-reviews-item__name">Валентин</li>
                        <li class="product-reviews-item__rating">
                            <ul class="product-reviews-item__stars">
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star product-reviews-item__star--countor"></li>
                                <li class="product-reviews-item__star product-reviews-item__star--countor"></li>
                            </ul>
                            </li>
                        <li class="product-reviews-item__plus"><h3 class="product-reviews-item__title">Плюсы</h3>Отличный аппарат</li>
                        <li class="product-reviews-item__minus"><h3 class="product-reviews-item__title">Минусы</h3>Минусов не обнаружено</li>
                        <li class="product-reviews-item__comment"><h3 class="product-reviews-item__title">Комментарий</h3>Купил себе, жене, дочери и соседу. Со следующей получки куплю всем коллегам.</li>
                    </ul>
                </li>
                <li class="product-reviews-items__divider"><hr class="divider"></li>
                <li>
                    <ul class="product-reviews-item">
                        <li class="product-reviews-item__name">Николай</li>
                        <li class="product-reviews-item__rating">
                            <ul class="product-reviews-item__stars">
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star"></li>
                                <li class="product-reviews-item__star product-reviews-item__star--countor"></li>
                            </ul>
                            </li>
                        <li class="product-reviews-item__plus"><h3 class="product-reviews-item__title">Плюсы</h3>Отличный аппарат</li>
                        <li class="product-reviews-item__minus"><h3 class="product-reviews-item__title">Минусы</h3>Минусов не обнаружено</li>
                        <li class="product-reviews-item__comment"><h3 class="product-reviews-item__title">Комментарий</h3>Купил себе, жене, дочери и соседу. Со следующей получки куплю всем коллегам.</li>
                    </ul>
                </li>

            </ul>
            <ul class="tab-items tab-items--left tab-items--bottom">
                <li><a href="#" class="tab-items__url">Характеристики</a></li>
                <li class="tab-items__active tab-items__active--bottom"><a href="#" class="tab-items__url">Отзывы</a></li>
            </ul>

            <ul class="advantages">
                <li class="advantages__item advantages__item--warranty">Гибкая гарантия</li>
                <li class="advantages__item advantages__item--delivery">Удобная доставка</li>
                <li class="advantages__item advantages__item--2weeks">2 недели на пробу</li>
                <li class="advantages__item advantages__item--original advantages__item--last">Только оригинал</li>
            </ul>

            <ul class="tab-items tab-items--product-bottom">
                <li class="tab-items__active"><a href="#" class="tab-items__url">Похожие товары</a></li>
                <li><a href="#" class="tab-items__url">Распродажа</a></li>
            </ul>
            <div class="product-slider">
                <a href="#" class="product-slider-arrow product-slider-arrow--left"></a>
                <a href="#" class="product-slider-arrow product-slider-arrow--right"></a>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card-image"><img src="images/content/watch.jpg" alt=""></div>
                    <a href="#" class="product-card-title">Apple Watch Series</a>
                    <div class="product-card-price">
                        <span>27 595 ₽</span>
                        <a href="#" class="product-card-cart"></a>
                    </div>
                </div>
            </div>
            <section class="product-bottom-block">
                <img src="./images/content/1569838094_1.jpg" width="150">
                <header>
                    <h3 class="product-bottom-block__subheader">Xiaomi Redmi 7 и Redmi 7A</h3>
                    <h2 class="product-bottom-block__header">Смартфон Xiaomi Redmi 7A 2/16Gb Matte Blue</h2>
                </header>
                <div class="product-bottom-block__price">
                    <div class="product-price">25 695 <span class="product-price__rubles">₽<sup>*</sup></span></div>
                    <a href="#" class="button-buy">Купить</a></div>
            </section>
        </div>
        <!-- Подписка на рассылку -->
        <div class="orange-background">
            <div class="container">
                <div class="feedback-block">
                    <div class="feedback-heading">
                        <h2>Будь в курсе последних акций и предложений</h2>
                        <p>Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми</p>
                    </div>
                    <div class="feedback-form">
                        <form action="#" method="post">
                            <input type="text" class="feedback-form-email" placeholder="Введите ваш email"> <button class="feedback-form-button">Подписаться</button>
                            <div class="feedback-label-block">
                                <input type="checkbox" id="subscribe">
                                <label for="subscribe">Я согласен с уловиями подписки</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Подписка на рассылку -->

    </main>
include modules/footer
</body>

</html>