<ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Главная</a></li>
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Смартфоны</a></li>
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Xiaomi</a></li>
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Xiaomi Mi Mix</a></li>
</ul>