<footer class="footer">
<div class="container">
												<div class="footer-menu">
																<div class="footer-phone">
																				<span class="footer-phone-title">Единая справочная служба:</span>
																				<a class="footer-phone-number" href="tel:88002503650">8 800 250 3650</a>
																				<a href="#" class="footer-phone-url">заказать звонок</a>
																</div>
																<div class="footer-menu-item">
																				<h2>Покупателю</h2>
																				<ul class="footer-menu-list">
																								<li>
																												<a href="#">Личный кабинет</a>
																								</li>
																								<li>
																												<a href="#">Мои заказы</a>
																								</li>
																								<li>
																												<a href="#">Доставка и оплата</a>
																								</li>
																								<li>
																												<a href="#">Распродажа</a>
																								</li>
																								<li>
																												<a href="#">Купить в кредит</a>
																								</li>
																								<li>
																												<a href="#">Программа Trade-In</a>
																								</li>
																				</ul>
																</div>
																<div class="footer-menu-item">
																				<h2>Техномакс</h2>
																				<ul class="footer-menu-list">
																								<li>
																												<a href="#">Личный кабинет</a>
																								</li>
																								<li>
																												<a href="#">Мои заказы</a>
																								</li>
																								<li>
																												<a href="#">Доставка и оплата</a>
																								</li>
																								<li>
																												<a href="#">Распродажа</a>
																								</li>
																								<li>
																												<a href="#">Купить в кредит</a>
																								</li>
																								<li>
																												<a href="#">Программа Trade-In</a>
																								</li>
																				</ul>
																</div>
																<div class="footer-menu-item">
																				<h2>Сервисы</h2>
																				<ul class="footer-menu-list">
																								<li>
																												<a href="#">Личный кабинет</a>
																								</li>
																								<li>
																												<a href="#">Мои заказы</a>
																								</li>
																								<li>
																												<a href="#">Доставка и оплата</a>
																								</li>
																								<li>
																												<a href="#">Распродажа</a>
																								</li>
																								<li>
																												<a href="#">Купить в кредит</a>
																								</li>
																								<li>
																												<a href="#">Программа Trade-In</a>
																								</li>
																				</ul>
																</div>
												</div>
												<div class="footer-bottom">
																<div class="footer-copyright">&copy; 2000 — 2019, Компания «ТехноМакс»
																</div>
																<div class="footer-information">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации.ООО «Техномакс-Иркутск»                    ИНН/КПП 3808224550/380801001 ОГРН 1123850025750 Юр. и факт адрес: 664011, г. Иркутск, ул. Свердлова, д. 36, пав. 111
																				<p><a href="#" class="footer-politics">Политика обработки персональных данных</a></p>
																</div>
												</div>
</div>
<script src="../js/script.js"></script>
</footer>