<header class="header">
        <div class="header-top">
            <div class="container container--flex">
                <a href="#" class="header-top__city">Иркутск</a>
                <span class="header-top__phonenumber"><a href="tel:88002503650" class="header-top__link">8 (800) 250 3650</a> (заказать звонок)</span>
            </div>
        </div>
        <div class="header-middle">
            <div class="container container--flex">
                <a href="#" class="header-middle__link">
                    <img src="./images/logotype.svg" alt="" class="header-middle__logo" width="248" height="64">
                </a>
                <div class="header-search-container">
                    <div class="header-search-block">
                        <form action="#" method="post"><input id="search_string" placeholder="Поиск по каталогу"><button type="submit" class="header-search-submit"></button><button class="header-search-close"></button></form>
                    </div>
                </div>
                <div class="header-cart-block">
                    <a href="#" class="header-cart-block__ulogin"><img src="./images/ulogin.svg" alt="" width="23"></a>
                    <a href="#" class="header-cart-block__minicart" id="header-cart-block__minicart">Моя корзина пуста</a>
                    <div class="header-minicart-list" id="header-minicart-list">
                        <h2>Моя корзина</h2>
                        <div class="minicart-list__item">
                            <div class="minicart-list-img">
                                <a href="#"><img src=" ./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-list-product">
                                <span class="minicart-list-model">iPhone XS</span>
                                <a href="#" class="minicart-list-title">Телефон Apple iPhone XS 128Gb apple...</a>
                            </div>
                            <span class="minicart-list-price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-list-delete"></a>
                        </div>
                        <div class="minicart-list__item">
                            <div class="minicart-list-img">
                                <a href="#"><img src="./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-list-product">
                                <span class="minicart-list-model">iPhone XS</span>
                                <a href="#" class="minicart-list-title">Телефон Apple iPhone XS 64Gb...</a>
                            </div>
                            <span class="minicart-list-price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-list-delete"></a>
                        </div>
                        <div class="minicart-list__item no-border">
                            <div class="minicart-list-img">
                                <a href="#"><img src=" ./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-list-product">
                                <span class="minicart-list-model">iPhone XS</span>
                                <a href="#" class="minicart-list-title">Телефон Apple iPhone XS 64Gb...</a>
                            </div>
                            <span class="minicart-list-price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-list-delete"></a>
                        </div>
                        <div class="minicart-list-bottom">
                            <a href="#" class="minicart-list-btn">Оформить заказ</a>
                            <div class="minicart-list-total">
                                <span>На общую сумму:</span>
                                <span class="minicart-total-price">64 595 ₽</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-container">
                    <a href="#" class="catalog-button" id="catalog-button">Каталог товаров</a>
                    <ul class="header-bottom__menu">
                        <li><a href="#">Магазины</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Б/у: покупка и продажа</a></li>
                        <li><a href="#">Юридическим лицам</a></li>
                        <li><a href="#">Бонусная система</a></li>
                        <li><a href="#">Покупка в кредит</a></li>
                    </ul>
                    <a href="#" class="button-more" id="button-more" aria-label="Меню разделов сайта"></a>
                </div>
                <div class="catalog-block catalog-block--show" id="catalog-block">
                    <div class="catalog-wrapper">
                        <ul class="catalog-list" id="catalog-list">
                            <li class="catalog-list__item"><a href="#" data-articul="1293834" class="catalog-list__url">Компьютеры</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293835" class="catalog-list__url">Планшеты, ноутбуки, компьютеры</a>
                            <li class="catalog-list__item"><a href="#" data-articul="1293836" class="catalog-list__url">Мониторы</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293837" class="catalog-list__url">Xiaomi</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293838" class="catalog-list__url">Apple</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293839" class="catalog-list__url">Гаджеты и умная техника</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293840" class="catalog-list__url">Фитнес здоровье красота</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293841" class="catalog-list__url">Мониторы</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293842" class="catalog-list__url">Xiaomi</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293843" class="catalog-list__url">Apple</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293844" class="catalog-list__url">Мониторы</a></li>
                            <li class="catalog-list__item"><a href="#" data-articul="1293845" class="catalog-list__url">Xiaomi</a></li>
                        </ul>
                        <div class="catalog-submenu-block" id="catalog-submenu-block">
                            <div class="catalog-submenu" data-articul="1293834" id="articul-1293834">Подменю 1</div>
                            <div class="catalog-submenu" data-articul="1293835" id="articul-1293835">Подменю 2</div>
                        </div>
                    </div>
                </div>
                <div class="header-menu" id="header-menu">
                    <ul class="header-menu__items">
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Ваш город: Красноярск</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Личный кабинет</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Магазины</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Юридическим лицам</a></li>
                    </ul>
                </div>
            </div>
        </div>
</header>