<header class="header">
    <div class="cities-container">
        <div class="container">
        <h3 class="cities-container__heading">Выберите ваш город</h3>
        <input type="search" placeholder="Введите название города" class="city-search">
            <ul class="cities-items">
                <li class="cities-items__item"><input type="radio" id="city[1]" name="city"> <label for="city[1]">Красноярск</label></li>
                <li class="cities-items__item"><input type="radio" id="city[2]" name="city"> <label for="city[2]">Новокузнецк</label></li>
                <li class="cities-items__item"><input type="radio" id="city[3]" name="city"> <label for="city[3]">Краснодар</label></li>
                <li class="cities-items__item"><input type="radio" id="city[4]" name="city"> <label for="city[4]">Иркутск</label></li>
                <li class="cities-items__item"><input type="radio" id="city[5]" name="city"> <label for="city[5]">Новосибирск</label></li>
                <li class="cities-items__item"><input type="radio" id="city[6]" name="city"> <label for="city[6]">Санкт-Петербург</label></li>
                <li class="cities-items__item"><input type="radio" id="city[7]" name="city"> <label for="city[7]">Улан-Удэ</label></li>
                <li class="cities-items__item"><input type="radio" id="city[8]" name="city"> <label for="city[8]">Екатеринбург</label></li>
            </ul>
            <button class="close-button"></button>
        </div>
    </div>
        <div class="header-top">
            <div class="container container--flex">
                <a href="#" class="header-top__city">Иркутск</a>
                <span class="header-top__phonenumber"><a href="tel:88002503650" class="header-top__link">8 (800) 250 3650</a> (заказать звонок)</span>
            </div>
        </div>
        <div class="header-middle">
            <div class="container container--flex">
                <a href="#" class="header-middle__link">
                    <img src="./images/logotype.svg" alt="" class="header-middle__logo" width="248" height="64">
                </a>
                <div class="header-search-container">
                    <div class="header-search-block">
                        <form action="#" method="post"><input id="search_string" class="header-search-block__search" type="search" placeholder="Поиск по каталогу" autocomplete="off"><button type="submit" class="header-search-submit"></button>
                        <div class="search-result">
                        <span class="search-result__title">Категории</span>                        
                        <ul class="search-result__items">
                            <li><a href="#" class="search-result__item">Расходные материалы / техника Kyocera</a></li>
                            <li><a href="#" class="search-result__item">Лазерный МФУ / Kyocera</a></li>
                            <li><a href="#" class="search-result__item">Антивирусы и безопасность / Kaspersky Lab (Лаборатория Касперского) / Kaspersky Lab (Лаборатория Касперского)</a></li>
                            <li><a href="#" class="search-result__item">Запчасти / Kyocera P3060DN</a></li>
                            <li><a href="#" class="search-result__item">Лазерные принтеры / Kyocera</a></li>
                            <li><a href="#" class="search-result__item">Опции для принтеров и сканеров / Kyocera</a></li>
                            <li><a href="#" class="search-result__item">Техника Kyocera / Оригинальные</a></li>
                            <li><a href="#" class="search-result__item">Техника Kyocera / Совместимые</a></li>
                        </ul>
                        <span class="search-result__title">Товары</span>                        
                        <ul class="search-result__items">
                            <li><a href="#" class="search-result__item">Клавиатуры, мыши, Smartbuy ONE 329 черно-желтая</a></li>
                            <li><a href="#" class="search-result__item">Барабан для Kyocera-Mita FS 720/820/920/1016/1028</a></li>
                            <li><a href="#" class="search-result__item">TK-5280Y ELP Imaging для Kyocera Ecosys M6235cidn</a></li>
                            <li><a href="#" class="search-result__item">TK-5280Y ELP Imaging для Kyocera Ecosys M6235cidn</a></li>
                            <li><a href="#" class="search-result__item">TK-5280Y ELP Imaging для Kyocera Ecosys M6235cidn</a></li>
                            <li><a href="#" class="search-result__item">TK-5280Y ELP Imaging для Kyocera Ecosys M6235cidn</a></li>
                            <li><a href="#" class="search-result__item">TK-5280Y ELP Imaging для Kyocera Ecosys M6235cidn</a></li>
                        </ul>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="header-cart-block">
                    <a href="#" class="header-cart-block__ulogin"><img src="./images/ulogin.svg" alt="" width="23"></a>
                    <div class="minicart-wrapper">
                    <a href="#" class="header-cart-block__minicart" id="header-cart-block__minicart">Моя корзина пуста</a>
                    <div class="minicart-items" id="minicart-items">
                        <h2 class="minicart-items__heading">Моя корзина</h2>
                        <div class="minicart-item">
                            <div class="minicart-item__img">
                                <a href="#"><img src=" ./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-item__header">
                                <span class="minicart-item__model">iPhone XS</span>
                                <a href="#" class="minicart-item__title">Телефон Apple iPhone XS 128Gb apple...</a>
                            </div>
                            <span class="minicart-item__price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-item__delete"></a>
                        </div>
                        <div class="minicart-item">
                            <div class="minicart-item__img">
                                <a href="#"><img src="./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-item__header">
                                <span class="minicart-item__model">iPhone XS</span>
                                <a href="#" class="minicart-item__title">Телефон Apple iPhone XS 64Gb...</a>
                            </div>
                            <span class="minicart-item__price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-item__delete"></a>
                        </div>
                        <div class="minicart-item no-border">
                            <div class="minicart-item__img">
                                <a href="#"><img src=" ./images/content/watch.jpg" width="100" alt=""></a>
                            </div>
                            <div class="minicart-item__header">
                                <span class="minicart-item__model">iPhone XS</span>
                                <a href="#" class="minicart-item__title">Телефон Apple iPhone XS 64Gb...</a>
                            </div>
                            <span class="minicart-item__price">64 595 ₽</span>
                            <a href="#" aria-label="Удалить товар" class="minicart-item__delete"></a>
                        </div>
                        <div class="minicart-items-bottom">
                            <a href="#" class="minicart-btn">Оформить заказ</a>
                            <div class="minicart-total">
                                <span>На общую сумму:</span>
                                <span class="minicart-total__price">64 595 ₽</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-container">
                    <a href="#" class="catalog-button" id="catalog-button">Каталог товаров</a>
                    <ul class="header-bottom__menu">
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Магазины</a></li>
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Доставка и оплата</a></li>
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Б/у: покупка и продажа</a></li>
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Юридическим лицам</a></li>
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Бонусная система</a></li>
                        <li class="header-bottom__item"><a href="#" class="header-bottom__url">Покупка в кредит</a></li>
                    </ul>
                    <a href="#" class="button-more" id="button-more" aria-label="Меню разделов сайта"></a>
                </div>
                <div class="catalog-block catalog-block--show" id="catalog-block">
                        <ul class="catalog-list" id="catalog-list">
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Компьютеры</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                        </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Планшеты, ноутбуки, компьютеры</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                        <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                        <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li> 
                                    </li>                                    
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Мониторы</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Xiaomi</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Apple</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Гаджеты и умная техника</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Фитнес здоровье красота</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Мониторы</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Xiaomi</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Apple</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Мониторы</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list__item"><a href="#" class="catalog-list__url">Xiaomi</a>
                                <ul class="catalog-submenu">
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Планшеты, ноутбуки, компьютеры</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" data-articul="1293836" class="catalog-list__url catalog-list__url--title">Мониторы</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Мониторы, мониторы, мониторы</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url  catalog-list__url--title">Xiaomi</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                    <li class="catalog-submenu__block"><a href="#" class="catalog-list__url catalog-list__url--title">Apple</a>
                                        <ul class="catalog-submenu__items">
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                            <li><a href="#" class="catalog-list__url catalog-list__url--suburl">Планшеты, ноутбуки, компьютеры</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="header-menu" id="header-menu">
                    <ul class="header-menu__items">
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Ваш город: Красноярск</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Личный кабинет</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Магазины</a></li>
                        <li class="header-menu__item"><a href="#" class="header-menu__url">Юридическим лицам</a></li>
                    </ul>
                </div>
            </div>
        </div>
</header>